.splitflagstyle217118{ color: #bababa ;}

.timestyle217119{ font-size: 9pt ;}
.subtitlestyle217119{ font-size: 12pt; line-height: 150%; font-family: 黑体 ;}
.titlestyle217119{ font-weight: bold; font-size: 18pt; line-height: 150%; font-family: 黑体 ;}
.attachstyle217119{ font-size: 9pt;}
.contentstyle217119{ font-size: 9pt; color: #222222; line-height: 150% ;}
.clickstyle217119{ font-size: 9pt;}
.authorstyle217119{ font-size: 9pt; line-height: 150% ;}

